<form [formGroup]="recordFilterForm">
  <div id="filter-controls">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Division</mat-label>
      <input matInput formControlName="division" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Project Owner</mat-label>
      <input matInput formControlName="project_owner" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Budget</mat-label>
      <input matInput formControlName="budget" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <input matInput formControlName="status" />
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Created Date</mat-label>
      <mat-date-range-input
        [formGroup]="createdDateRange"
        [rangePicker]="createdPicker"
        [comparisonStart]="recordFilterForm.value.createdStart"
        [comparisonEnd]="recordFilterForm.value.createdEnd"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="createdStart"
        />
        <input matEndDate placeholder="End date" formControlName="createdEnd" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="createdPicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #createdPicker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Modified Date</mat-label>
      <mat-date-range-input
        [formGroup]="modifiedDateRange"
        [rangePicker]="modifiedPicker"
        [comparisonStart]="recordFilterForm.value.modifiedStart"
        [comparisonEnd]="recordFilterForm.value.modifiedEnd"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="modifiedStart"
        />
        <input
          matEndDate
          placeholder="End date"
          formControlName="modifiedEnd"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="modifiedPicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #modifiedPicker></mat-date-range-picker>
    </mat-form-field>
  </div>
</form>
