<table>
  <tr>
    <th>Details</th>
    <th>Title</th>
    <th>Division</th>
    <th>Project Owner</th>
    <th>Budget</th>
    <th>Status</th>
    <th>Created Date</th>
    <th>Modified Date</th>
  </tr>
  <tr *ngFor="let record of recordsToDisplay">
    <td><a [routerLink]="['/record', record.id]">Details</a></td>
    <td [innerText]="record.title"></td>
    <td [innerText]="record.division"></td>
    <td [innerText]="record.project_owner"></td>
    <td>{{ record.budget | currency }}</td>
    <td [innerText]="record.status"></td>
    <td>{{ record.created | date }}</td>
    <td>{{ record.modified | date }}</td>
  </tr>
</table>
