#grid-buttons {
  display: flex;

  button {
    margin: 0 1em 1em 0;
    width: 14em;
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.5em;
}

tr {
  height: 6em;

  &:nth-child(even) {
    background-color: #dddddd;
  }
}

.link-style {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.inline-field {
  width: 100%;
}
